/* typography */

.panel-m {
  background: #a6203e;
  color: #ffffff;
}

.info-panel {
  max-width: 500px;
  padding: 40px;
}

.event-content .info-panel {
  padding: 40px;
}

.info-panel .date {
  width: 100%;
}

.info-panel h2 {
  width: 100%;
}

.info-panel img {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.border-01 {
  border: 6px solid #a6203e;
  padding: 10px 30px;
}

.honors-influencer {
  font-size: 4em;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.honors-trailblazer {
  font-size: 4em;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/* images */
.red-outline {
  border-left: 12px solid #a6203e;
  border-bottom: 12px solid #a6203e;
}
