h1.honors-white {
  font-size: 8rem;
  letter-spacing: -0.4rem;
  color: #ffffff;
  position: absolute;
  top: 25px;
  margin-left: -25px;
}

.profile-section {
  padding: 12% 4% 4%;
  align-content: end;
}

.profile-mini {
  display: flex;
  align-items: center;
  flex-direction: row;
}

img.profile {
  width: 18%;
}

p.profile {
  width: 82%;
  flex: 0 0 80%;
  margin: 0 15px;
}

.panel-black {
  background: #231f20;
  color: #ffffff;
}
