.profile-mini {
  display: flex;
  flex-direction: column;
}

.profile-mini img {
  width: 30%;
  flex: 0 0 30%;
}

.profile-mini p {
  width: 70%;
  flex: 0 0 70%;
}

.panel-black {
  background: #231f20;
}
