.event {
  min-width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6203e;
}

.img-container-sm {
  display: flex;
  flex: 0 0 80%;
  width: 80%;
  height: auto;
  margin-top: -15px;
}

/* column sizes, see style-1970s */

/* typography */

h1.honors-yellow {
  font-size: 8rem;
  letter-spacing: -0.4rem;
  color: #d7ae32;
  position: absolute;
  top: 10px;
  margin-left: -5em;
}

h1.honors-yellow-02 {
  font-size: 8rem;
  letter-spacing: -0.4rem;
  color: #d7ae32;
  position: absolute;
  top: 10px;
  margin-left: -12em;
}

a.maroon {
  font-weight: bold;
  color: #a6203e;
}

a.maroon:hover {
  text-decoration: underline;
}

.caption-alt {
  font-size: 0.9em;
  font-style: italic;
}

.quote-yellow {
  border-left: 4px solid #d7ae32;
}

/* colors*/
.white-txt {
  color: white;
}

.purple-txt {
  color: #5e308e;
}

.maroon-txt {
  color: #a6203e;
}

.panel-maroon {
  background: #a6203e;
  color: #ffffff;
}

/* images */
.interstitial-01 {
  background-image: url("/src/assets/fullwidth-placeholder.jpg");
  height: 100%;
  width: 80%;
  float: right;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.campaign {
  background-image: url("/src/assets/fullwidth-placeholder.jpg");
  height: 100%;
  width: 100%;
  margin-left: -20%;
  padding-left: 15%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.campaign-sticky {
  position: absolute;
  z-index: 3;
  padding: 0 4%;
  width: 50%;
  top: 8%;
}

.campaign-sm-01 {
  margin-top: 8em;
  display: flex;
  padding: 2% 4%;
}

.campaign-sm-02 {
  margin-top: -5em;
  padding: 2% 4%;
}

@media (max-width: 767px) {
  .img-container-sm {
    display: block;
    width: 100%;
    height: auto;
  }

  .campaign-sticky {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .campaign {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5%;
  }
  .campaign-sm-01,
  .campaign-sm-02 {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
