.event {
  min-width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6203e;
}

/* column sizes, see style-1970s */

/* typography */

h1.white {
  color: #ffffff;
}

h1.yellow {
  color: #dbbc78;
}

a.maroon {
  font-weight: bold;
  color: #a6203e;
}

a.maroon:hover {
  text-decoration: underline;
}

.quote-purple {
  border-left: 4px solid #5e308e;
}

/* colors*/
.white-txt {
  color: white;
}

.purple-txt {
  color: #5e308e;
}

.maroon-txt {
  color: #a6203e;
}

.panel-maroon {
  background: #a6203e;
  color: #ffffff;
}

/* images */
.kravis {
  background-image: url("/src/assets/fullwidth-placeholder.jpg");
  height: 100%;
  width: 100%;
  margin-left: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
