.event {
  min-width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6203e;
}

/* column sizes, see style-1970s */

/* typography */

.challenger {
  color: #ffffff;
  font-size: 5rem;
  letter-spacing: -0.2rem;
  position: absolute;
  top: 10px;
  text-align: left;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 20px;
}

h1.yellows {
  color: #dbbc78;
}

a.maroon {
  font-weight: bold;
  color: #a6203e;
}

a.maroon:hover {
  text-decoration: underline;
}

.quote-purple {
  border-left: 4px solid #5e308e;
}

/* colors*/
.white-txt {
  color: white;
}

.purple-txt {
  color: #5e308e;
}

.panel-maroon {
  background: #a6203e;
  color: #ffffff;
}

/* images */
.kravis {
  background-image: url("/src/assets/2000-kravis-bkgd-alt.jpg");
  height: 100%;
  width: 100%;
  margin-left: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  justify-content: left;
}

.kravis-img {
  float: left;
  width: 80%;
  height: auto;
}
