.event {
  min-width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6203e;
}

.col-1 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-2 {
  max-width: 33%;
  flex: 0 0 33%;
}

.col-3 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-4 {
  max-width: 67%;
  flex: 0 0 67%;
}

.event-narrative {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 700px;
  padding: 1% 8%;
  align-items: flex-start;
  align-content: flex-start;
}

/* typography */
h1.year {
  font-size: 4.5rem;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1.year-sm {
  font-size: 3.5rem;
  line-height: 3rem;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1.date {
  font-size: 1.3rem;
  line-height: 0.5rem;
  color: inherit;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

h1.maroon {
  color: #a6203e;
}

h1.honors-gray {
  font-size: 8rem;
  letter-spacing: -0.4rem;
  color: #e3e3e3;
  position: absolute;
  top: 0;
  margin-left: -9em;
}

a.maroon {
  font-weight: bold;
  color: #a6203e;
}

a.maroon:hover {
  text-decoration: underline;
}

/* colors*/
.white-txt {
  color: white;
}

.maroon-txt {
  color: #a6203e;
}

.panel-maroon {
  background: #a6203e;
  color: #ffffff;
}

.panel-gray {
  background: #e3e3e3;
}

.celebration {
  background-image: url("/src/assets/stock.jpg");
  height: 100%;
  width: 80%;
  float: right;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
