.event {
  min-width: 100vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6203e;
}

/* column sizes, see style-1970s */

.event-container-sm {
  height: 100%;
  flex: 0 0 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0 2%;
}

/* typography */

h1.maroon {
  color: #a6203e;
}

h1.trailblazer-gray {
  font-size: 5rem;
  margin-bottom: 25px;
  letter-spacing: -0.2ßrem;
  color: #e3e3e3;
  position: absolute;
  top: 10px;
}

a.maroon {
  font-weight: bold;
  color: #a6203e;
}

a.maroon:hover {
  text-decoration: underline;
}

.quote-white {
  border-left: 4px solid #ffffff;
}

.strikethrough {
  text-decoration: line-through;
}

/* colors*/
.white-txt {
  color: white;
}

.maroon-txt {
  color: #a6203e;
}

.panel-maroon {
  background: #a6203e;
  color: #ffffff;
}

.panel-gray {
  background: #e3e3e3;
}

.name-change {
  margin-top: -20%;
}

.celebration {
  background-image: url("/src/assets/name-change-celebration-collage.png");
  height: 100%;
  width: 80%;
  float: right;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-sm {
  width: 60%;
}

.photo-front {
  width: 60%;
}

.photo-back {
  max-width: 60%;
  position: absolute;
  top: 30px;
}

.photo-insert {
  width: 40%;
  float: right;
  margin-left: 15px;
}

.inset {
  margin-top: 2.5em;
}

.inset p {
  margin-top: 31%;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .event-container-sm,
  .event-container-wide {
    display: block;
    width: 100vw;
    height: auto;
    overflow-x: hidden; /* Enables horizontal scrolling */
    overflow-y: auto;
    padding: 7% 4%;
  }

  .celebration {
    height: 50vh;
    width: 100%;
  }

  h1.honors-gray {
    font-size: 2rem;
    letter-spacing: 0rem;
    color: #e3e3e3;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 35px;
    padding-bottom: 0;
  }
}
