.nav {
  position: fixed;
  background: #ccccff;
  width: 25%;
}

.decades {
  position: fixed;
  z-index: 10;
  opacity: 0.5;
  padding: 10px 12px;
  margin-bottom: 5px;
  background: #f5f5f5;
}

.decades a {
  display: none;
  font-size: 0.8rem;
}

.decades a:hover {
  cursor: pointer;
  color: #a6203e;
}

.decades p {
  margin-bottom: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

.decades ul li {
  list-style: none;
}

.decades:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

.nav-links a {
  margin-bottom: 6px;
  font-weight: 300;
}

.decades:hover p {
  display: none;
  transition-duration: 0.4s;
}

.decades:hover > .nav-links {
  display: block;
}

.nav-links a:hover {
  color: #a6203e;
}

.anchor {
  scroll-margin-right: -150px;
}
