@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

.event-container {
  height: 100vh;
  flex: 0 0 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  color: #231f20;
  padding: 6em 6em;
}

.container {
  display: flex;
  max-width: 80%;
  flex: 0 0 80%;
  padding: 5em 7em;
  align-items: center;
  background: orange;
}

.content {
  background: white;
}

.content-container {
  display: flex;
  height: 800px;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.event-container-wide {
  height: 100%;
  flex: 0 0 110%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0 3%;
}

.small {
  max-width: 740px;
}

.wide {
  flex: 0 0 115%;
}

.event-container-sm {
  height: 100%;
  flex: 0 0 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 10% 6%;
}

.event-narrative {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 740px;
  padding: 4em 5em;
  align-items: flex-start;
  align-content: flex-start;
}

.endcap {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 550px;
}

.img-container {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  margin-top: -15px;
}

.col-1 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 15px;
}

.col-2 {
  max-width: 33%;
  flex: 0 0 33%;
  padding: 15px;
}

.col-3 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 15px;
}

.col-4 {
  max-width: 67%;
  flex: 0 0 67%;
  padding: 15px;
}
/* typography */
h1 {
  font-size: 6rem;
  font-family: serif;
  line-height: 4.8rem;
  color: #231f20;
  font-weight: bold;
  font-style: italic;
  font-family: "Bodoni Moda", serif;
  margin-bottom: 10px;
}

h1.eyebrow {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-style: normal;
  color: #231f20;
  margin-bottom: 0;
}

.year {
  font-size: 4.5rem;
  margin-bottom: 5px;
  font-weight: 800;
  font-family: "Bodoni Moda", serif;
}

.year-sm {
  font-size: 3rem;
  line-height: 3.4rem;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: bold;
  font-family: "Bodoni Moda", serif;
}

h1.date {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: inherit;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: bold;
  text-align: left;
  color: inherit;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

p.subtitle {
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 1.6rem;
  text-align: left;
  letter-spacing: 0.1rem;
}
p.lead-text {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

p.blurb {
  width: 60%;
}

.link-list {
  margin: 2em 0;
}

.link-list p {
  margin-bottom: 10px;
}

.quote {
  margin-top: 2.5em;
  border-left: 4px solid;
  padding-left: 25px;
  margin-left: 20px;
}

.quote-purple {
  border-left: 4px solid #5e308e;
}

.quote-name {
  font-size: 0.7em;
  margin-top: 12px;
}

.quote-alt {
  font-size: 2em;
  font-weight: bold;
}

.caption {
  font-size: 0.9em;
  font-style: italic;
  width: 40%;
  margin-top: -20%;
}

.small-year {
  font-size: 1.5em;
  margin-right: 5px;
}

a {
  font-weight: bold;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.purple-txt {
  color: #5e308e;
}

.white-txt {
  color: white;
}

.yellow-txt {
  color: #d7ae32;
}

/* intro */
.intro-content {
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding: 0 3%;
}

.intro-text {
  position: absolute;
  z-index: 3;
  align-content: center;
  text-align: left;
  padding: 8% 0;
  width: 600px;
}

.intro-text p {
  width: 80%;
}

.intro-image {
  width: 85%;
  height: auto;
  object-fit: contain;
  z-index: 0;
  margin-left: 32%;
}

.event-1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  text-align: left;
  max-width: 800px;
  padding: 0 3%;
}

.event-4-container {
  height: 100%;
  flex: 0 0 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #231f20;
  padding: 0 5%;
}

.event-4-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 800px;
  padding: 0 1%;
}

.event-7-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 400px;
  flex: 1 1 0;
}

.event-7-img {
  flex: 2 1 0;
  margin-top: -30px;
  max-width: 600px;
}

.event-4-content p {
  width: 80%;
}

.event-image-sm {
  width: 80%;
  margin-top: -10%;
}

.event-1-intro {
  background-image: url("/src/assets/1970s_1.gif");
  background-repeat: repeat-x;
  object-fit: cover;
  background-position: right;
}

.event-1-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 2rem;
  object-fit: contain;
  align-content: center;
}

/* panels */
.panel-purple {
  background: #5e308e;
  color: #ffffff;
}

.panel-white {
  background: white;
}

.panel-gray {
  background: #e3e3e3;
}

.panel-yellow {
  background: #d7ae32;
}

.colorblock-m {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 1) 70%,
    hsla(346, 100%, 23%, 1) 70%,
    hsla(346, 100%, 23%, 1) 100%
  );
}

/* imgs */
img {
  max-width: 100%;
  height: auto;
}

.fullwidth {
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0;
}

.profile-content {
  width: 45%;
}

.profile img {
  margin-left: 25%;
}

.profile-duo-01 {
  margin-top: 6em;
  display: flex;
}

.photo-insert-btn {
  width: 25%;
  float: right;
  rotate: 22deg;
  margin-right: -25px;
  margin-top: -4em;
}

.profile-duo-02 {
  margin-top: -4em;
}

/* extras */
img.ani:hover {
  margin-top: -30px;
}

@media (max-width: 767px) {
  .scrolly-horizontal-container {
    height: auto !important;
  }
  .scrolly-horizontal-sticky {
    top: 0px;
    height: auto !important;
    overflow: visible !important;
  }

  .scrolly-horizontal-sticky > div {
    height: auto !important;
    flex-direction: column !important;
  }

  .event-container {
    display: block;
    width: 100vw;
    height: auto;
    overflow-x: hidden; /* Enables horizontal scrolling */
    overflow-y: auto;
    padding: 7% 4%;
  }

  .event-narrative {
    display: block;
    padding: 7% 6%;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
    max-width: 100% !important;
    min-height: 10vh;
    padding: 0;
  }
  .profile-duo-01,
  .profile-duo-02 {
    margin-top: 1em;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0 3%;
  }
  .intro-content p {
    width: 100%;
  }

  .intro-text {
    position: relative;
    align-items: center;
    text-align: left;
    padding: 4%;
    z-index: 3;
  }
  .intro-image {
    width: 100%;
    height: auto;
    align-content: center;
    margin-top: 0;
    margin-left: 0;
  }
  .profile-content {
    width: 100%;
    align-items: center;
  }

  .profile img {
    margin: 20px 0;
  }

  .caption {
    width: 100%;
  }

  .photo-insert-btn {
    width: 30%;
    float: left;
    rotate: 22deg;
    margin-left: 0;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1900px) {
  .event-container {
    border: 4px solid;
    padding: 6% 8%;
  }
}
