.event-track {
  display: flex;
  flex-direction: row;
  width: 400vw; /* 4 events × 100vw each */
  height: 100vh;
  transition: transform 0.6s ease-out;
}

@media only screen and (max-width: 767px) {
  .event-track {
    display: block;
    width: auto;
    height: auto;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden;
  }
  #root .scrolly-horizontal-container {
    width: auto !important;
    height: auto !important;
  }
  .scrolly-horizontal-sticky {
    top: 0px;
    height: auto;
    width: 100vw;
    overflow: visible;
  }
}
