.img-container {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  margin-top: -15px;
}

.cover {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  padding: 20% 4%;
}

.cover-content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
}

.img-container img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cover {
    background-color: #e3e3e3;
    display: block;
    padding: 4% 6%;
  }

  .cover-content {
    display: block;
  }
}
