.navigation {
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  padding: 15px 35px;
  z-index: 3;
}

.navigation li:hover {
  opacity: 1;
}

.img-container {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  margin-top: -15px;
}

.cover {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
  padding: 20% 4%;
}

.cover-content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
}

.img-container img {
  object-fit: cover;
  width: 100%;
}
