@import "tailwindcss";

.test {
  position: fixed;
  z-index: 10;
  opacity: 0.5;
  padding: 10px 12px;
  margin-bottom: 5px;
  background: #f5f5f5;
}

.footer-new {
  background: linear-gradient(
    90deg,
    hsla(29, 94%, 59%, 1) 0%,
    hsla(76, 96%, 22%, 1) 99%
  );
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 120px;
  float: left;
  margin: 8px 0;
}

.circle {
  clip-path: circle(50px);
  background: coral;
}

.test p {
  margin-bottom: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

.test:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

.test-links {
  display: none;
  font-size: 0.8rem;
}

.test-links a {
  margin-bottom: 6px;
  font-weight: 300;
}

.test:hover p {
  display: none;
  transition-duration: 0.4s;
}

.test:hover > .test-links {
  display: block;
}

.test-links a:hover {
  color: coral;
}

.anchor {
  scroll-margin-right: -150px;
}
