@import "tailwindcss";

body {
  height: 70vh;
}

.footer {
  background: #74001c;
  padding: 0 20px;
  position: fixed;
  margin-top: 20px;
  z-index: 10;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 250px;
  float: left;
}

.test {
  position: fixed;
  z-index: 10;
  opacity: 0.5;
  padding: 10px 12px;
  margin-bottom: 5px;
  background: #f5f5f5;
}

.circle {
  clip-path: circle(50px);
  background: coral;
}

.test p {
  margin-bottom: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

.test:hover {
  opacity: 1;
  transition-duration: 0.4s;
}

.test-links {
  display: none;
  font-size: 0.8rem;
}

.test-links a {
  margin-bottom: 6px;
  font-weight: 300;
}

.test:hover p {
  display: none;
  transition-duration: 0.4s;
}

.test:hover > .test-links {
  display: block;
}

.test-links a:hover {
  color: coral;
}

.anchor {
  scroll-margin-right: -150px;
}
